<html>
  <head>
    <title>Adding a suggestion</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  </head>
  <body>
    <div class="header">
      <div class="mmlogo" ><img style="display: inline;" src="{{ url_for('static', filename='mmlogo.png') }}"/>
        <h1 style="display: inline;">Suggestion</h1>
        <p>What song did we miss?</p>
        <div>
          <div class="container">
            <div class="menu">
                  <form action="/suggestions/add/submit" method=POST>
                    <ul>
                      <li>
                        <label for="name">Name:</label><br>
                        <input type="text" id="name" name="name" style="font-size: 18pt; height: 40px; width:280px; margin-bottom: 20px;"><br>
                        <label for="mood">Suggested Mood:</label><br>
                        <input type="text" id="mood" name="mood" style="font-size: 18pt; height: 40px; width:280px; margin-bottom: 20px;"><br>
                        <label for="song_name">Suggested Song Name:</label><br>
                        <input type="text" id="song_name" name="song_name" style="font-size: 18pt; height: 40px; width:280px; margin-bottom: 20px;"><br>
                        <label for="artist">Suggested Artist:</label><br>
                        <input type="text" id="artist" name="artist" style="font-size: 18pt; height: 40px; width:280px; margin-bottom: 20px;"><br>
                        <label for="url">URL:</label><br>
                        <input type="text" id="url" name="url" style="font-size: 18pt; height: 40px; width:280px; margin-bottom: 20px;"><br>
                        <label for="comment">Comment:</label><br>
                        <input type="text" id="comment" name="comment" style="font-size: 18pt; height: 40px; width:280px; margin-bottom: 20px;"><br><br>
                        <input type=submit value="submit" style="font-size: 18pt; height: 60px; width:100px; background-color: #D8CACA;"/><br>
                      </li>
                    </ul>
                </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>

