<html>
  <head>
    <title>
      Addding a voyage
    </title>
  </head>
  <body>
    <h1>Add a voyage!</h1>
    <form action="/voyages/add/submit" method=POST>
        <label for="sid">Sid:</label><br>
        <input type="number" id="sid" name="sid"><br>
        <label for="bid">Bid:</label><br>
        <input type="number" id="bid" name="bid"><br>
        <label for="date_of_voyage">Date of voyage:</label><br>
        <input type="text" id="date_of_voyage" name="date_of_voyage"><br><br>
        <input type=submit value="Add voyage"/><br>
    </form>
  </body>
</html>