<html>
  <head>
    <title>
      Addding a boat
    </title>
  </head>
  <body>
    <h1>Add a suggestion!</h1>
    <form action="/suggestions/add/submit" method=POST>
        <label for="name">Name:</label><br>
        <input type="text" id="name" name="name"><br>
        <label for="mood">Suggested Mood:</label><br>
        <input type="text" id="mood" name="mood"><br>
        <label for="song_name">Suggested Song Name:</label><br>
        <input type="text" id="song_name" name="song_name"><br>
        <label for="artist">Suggested Artist:</label><br>
        <input type="text" id="artist" name="artist"><br>
        <label for="url">URL:</label><br>
        <input type="text" id="url" name="url"><br>
        <label for="comment">Comment:</label><br>
        <input type="text" id="comment" name="comment"><br><br>
        <input type=submit value="submit"/><br>
    </form>
  </body>
</html>

