<html>
  <head>
    <title>{{ name }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/songs.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/toggle.css') }}">
  </head>
  <body>
    <div class="header">
      <div class="mmlogo" ><img style="display: inline;" src="{{ url_for('static', filename='mmlogo.png') }}"/>
        <h1 style="display: inline;">{{ name }}</h1><br><br>
    </div>
    <form action="/exsongs" method="GET">
      <label class="switch">
        <input type="checkbox" id="toggle" name="toggle">
        <div class="slider round">
          <span class="on">Clean</span>
          <span class="off">Explicit</span>
        </div>
      </label><br><br>
    </form>
    <div class="container">
      <div class="menu">
        <ul>
          <li>
            <table>
              {% if rows %}
              <tr>
                  <th>Sid </th>
                  <th> </th>
                  <th> Mid </th>
                  <th> Name </th>
                  <th>Artist</th>
                  <th>Explicit</th>
              <tr>
              {% endif %}
              {% for row in rows %}
                {% if row['explicit'] == 1 %}
              <tr>
                  <td>{{ row['sid'] }}</td>
                  <td></td>
                  <td>{{ row['mid'] }}</td>
                  <td> <a href="{{ row['url'] }}">{{ row['name'] }}</a> </td>
                  <td>{{ row['artist'] }}</td>
                  <td>{{ row['explicit'] }}</td>
                  {% endif %}
              </tr>
                {% else %}
                <div>no songs</div>
              {% endfor %}
            </table>
          </li>
        </ul><br>
      <ul>
        <li class="logo"><img src="{{ url_for('static', filename='music.png') }}"></li>
        <li><a href="/">Main Menu</a></li>
      </ul>
    </div>
    </div>
  </body>
</html>
